<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> --}}
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Home Page</title>
</head>

<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          {{!-- {{#if user}} --}}
          <li role="presentation">
            <a href="/">Dashboard</a>
          </li>
          <li role="presentation">
            <a href="/auth/logout">Logout</a>
          </li>
          {{!-- {{else}} --}}
          <li role="presentation">
            <a href="/auth/login">Login</a>
          </li>
          <li role="presentation">
            <a href="/auth/register">Register</a>
          </li>
          {{!-- {{/if}} --}}
        </ul>
      </nav>
      <h3 class="text-muted">LoginApp</h3>
    </div>


    <div class="row">
      <div class="col-lg-12">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}} 
        {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}} 
        {{#if errors}}
        {{#each errors}}
        <div class="alert alert-danger">{{this.msg}}</div>
        {{/each}}
        {{/if}} 
        
        {{{body}}}
      
      </div>
    </div>
  </div>

</body>

</html>