<!--Page Body-->
<main class="page-body">
    <!--start section-->
    <section class="section">
        <!-- start row -->
        <div class="row m-b-0">
            <!-- start column -->
            <div class="col m12">
                <h3 class="header">Create schedule for week starting:
                    <input type="text" class="datepicker center" style="width: 140px;">
                </h3>

                <div class="row sched-create">
                    <div class="col s12" id="schedule-container">
                        <ul class="collapsible sched-ul" data-collapsible="accordion">
                            <li class="day-header">
                                <div class="collapsible-header">
                                    <i class="material-icons">today</i>
                                    <div class="header-text left">Monday</div>
                                    <input id="range_monday" />
                                    <div class="add-btn valign-wrapper" data-day="monday">
                                        <button class="waves-effect waves-light btn-small bg-theme">
                                            <a>
                                                <i class="material-icons left icon-white">add</i>add shift</a>
                                    </div>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row shift-item-row">
                                        <div class="col s12">
                                            <ul id="create-page-schedule" class="collection sched-creation-collection" style="overflow: visible">
                                                <li class="collection-item" data-id="1">
                                                    <div class="row valign-wrapper">
                                                        <div class="col s3">
                                                            <!-- Dropdown button -->
                                                            <a class="dropdown-button waves-effect waves-light btn blue" href="#" data-activates="dropdown-block">Select Employee
                                                                <i class="material-icons white-text right">arrow_drop_down</i>
                                                            </a>
                                                            <ul id="dropdown-block" class="dropdown-content" style="width: 170.672px; position: absolute; top: 741.812px; left: 45px; display: none; opacity: 1;">

                                                                {{#if monday}} {{#each monday}}
                                                                <li>
                                                                    <div class="row valign-wrapper">
                                                                        <div class="col s4">
                                                                            <i class="material-icons medium">face</i>
                                                                        </div>
                                                                        <div class="col s5" data-employeeId="{{this.EmployeeTable.id}}">

                                                                            {{this.EmployeeTable.firstName}} {{this.EmployeeTable.lastName}}

                                                                        </div>
                                                                        
                                                                        <div class="col s3">
                                                                            Available: {{this.date}}: {{this.startTime}} - {{this.endTime}}
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                {{/each}} {{/if}}

                                                            </ul>
                                                            <!-- Dropdown button structure -->
                                                        </div>
                                                        <div class="col s9">
                                                            <input id="range_16" />
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="day-header">
                                <div class="collapsible-header">
                                    <i class="material-icons">today</i>
                                    <div class="header-text">Tuesday</div>
                                    <div class="add-btn valign-wrapper">
                                        <button class="waves-effect waves-light btn-small bg-theme">
                                            <i class="material-icons left icon-white">add</i>add shift</a>
                                    </div>
                                </div>

                                <div class="collapsible-body">
                                    {{!-- <div class="row shift-item-row">
                                        <div class="col s12">
                                            <ul id="create-page-schedule" class="collection sched-creation-collection" style="overflow: visible">
                                                <li class="collection-item" data-id="1">
                                                    <div class="row valign-wrapper">
                                                        <div class="col s3">
                                                            <!-- Dropdown button -->
                                                            <a class="dropdown-button waves-effect waves-light btn blue" href="#" data-activates="dropdown-block">Select Employee
                                                                <i class="material-icons white-text right">arrow_drop_down</i>
                                                            </a>
                                                            <ul id="dropdown-block" class="dropdown-content" style="width: 170.672px; position: absolute; top: 741.812px; left: 45px; display: none; opacity: 1;">

                                                                {{#if tuesday}} {{#each tuesday}}
                                                                <li>
                                                                    <div class="row valign-wrapper">
                                                                        <div class="col s4">
                                                                            <i class="material-icons medium">face</i>
                                                                        </div>
                                                                        <div class="col s5" data-employeeId="{{this.EmployeeTable.id}}">

                                                                            {{this.EmployeeTable.firstName}} {{this.EmployeeTable.lastName}}

                                                                        </div>
                                                                        
                                                                        <div class="col s3">
                                                                            Available: {{this.date}}: {{this.startTime}} - {{this.endTime}}
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                {{/each}} {{/if}}

                                                            </ul>
                                                            <!-- Dropdown button structure -->
                                                        </div>
                                                        <div class="col s9">
                                                            <input id="range_16" />
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div> --}}
                                </div>

                            </li>
                            <li class="day-header">
                                <div class="collapsible-header">
                                    <i class="material-icons">today</i>
                                    <div class="header-text">Wednesday</div>
                                    <div class="add-btn valign-wrapper">
                                        <button class="waves-effect waves-light btn-small bg-theme">
                                            <i class="material-icons left icon-white">add</i>add shift</a>
                                    </div>
                                </div>
                                <div class="collapsible-body">

                                </div>
                            </li>
                            <li class="day-header">
                                <div class="collapsible-header">
                                    <i class="material-icons">today</i>
                                    <div class="header-text">Thursday</div>
                                    <div class="add-btn valign-wrapper">
                                        <button class="waves-effect waves-light btn-small bg-theme">
                                            <i class="material-icons left icon-white">add</i>add shift</a>
                                    </div>
                                </div>
                                <div class="collapsible-body">

                                </div>
                            </li>
                            <li class="day-header">
                                <div class="collapsible-header">
                                    <i class="material-icons">today</i>
                                    <div class="header-text">Friday</div>
                                    <div class="add-btn valign-wrapper">
                                        <button class="waves-effect waves-light btn-small bg-theme">
                                            <i class="material-icons left icon-white">add</i>add shift</a>
                                    </div>
                                </div>
                                <div class="collapsible-body">

                                </div>
                            </li>
                            <li class="day-header">
                                <div class="collapsible-header">
                                    <i class="material-icons">today</i>
                                    <div class="header-text">Saturday</div>
                                    <div class="add-btn valign-wrapper">
                                        <button class="waves-effect waves-light btn-small bg-theme">
                                            <i class="material-icons left icon-white">add</i>add shift</a>
                                    </div>
                                </div>
                                <div class="collapsible-body">

                                </div>
                            </li>
                            <li class="day-header">
                                <div class="collapsible-header">
                                    <i class="material-icons">today</i>
                                    <div class="header-text">Sunday</div>
                                    <div class="add-btn valign-wrapper">
                                        <button class="waves-effect waves-light btn-small bg-theme">
                                            <i class="material-icons left icon-white">add</i>add shift</a>
                                    </div>
                                </div>
                                <div class="collapsible-body">

                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <!-- end column -->
            </div>
            <!-- end row -->

    </section>
    <!--end section-->

</main>
<!--End page body-->

{{!-- Slider code
<div class="row">
    <div class="col s12">
        <ul id="create-page-schedule" class="collection sched-creation-collection" style="overflow: visible">
            <li class="collection-item" data-id="1">
                <div class="row valign-wrapper">
                    <div class="col s3">
                        <!-- Dropdown button -->
                        <a class="dropdown-button waves-effect waves-light btn blue" href="#" data-activates="dropdown-block">Select Employee
                            <i class="material-icons white-text right">arrow_drop_down</i>
                        </a>
                        <ul id="dropdown-block" class="dropdown-content" style="width: 170.672px; position: absolute; top: 741.812px; left: 45px; display: none; opacity: 1;">
                            <li>
                                <div class="row valign-wrapper">
                                    <div class="col s4">
                                        <i class="material-icons medium">face</i>
                                    </div>
                                    <div class="col s5">
                                        Ben B.
                                    </div>
                                    <div class="col s3">
                                        [4hrs]
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- Dropdown button structure -->
                    </div>
                    <div class="col s9">
                        <input id="range_16" />
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div> --}}