<!--Page Body-->
<main class="page-body">
  <!--start section-->
  <section class="section">
    <!-- start row -->
    <div class="row m-b-0">
      <!-- start column -->
      <div class="col s12 m6">
        <h3 class="header">Admin Aprovals</h3>
        <!--start card-->
        <div class="card m-b-10">
          <!--card content-->
          <div class="card-content">
            <!-- admin approval card -->
            <div id="admin-approval-card" style="height:400px">
              <ul class="dashboard-notifications">
                <li>
                  <a href="#!">
                    <i class="material-icons">sync</i>
                    <p class="noti-message">Shift Change Request:
                      <span>
                        Dan would like to switch with Push
                      </span>
                      <span>
                        Shift: 8/28 from 5pm - 9pm
                      </span>
                    </p>
                  </a>
                </li>
                <li>
                  <a href="#!">
                    <i class="material-icons">access_alarm</i>
                    <p class="noti-message">Time Off Request:
                      <span>
                        Robin requested off
                      </span>
                      <span>
                        dates: 9/1 - 9/5
                      </span>
                      <span>
                        
                      </span>
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!--end card content-->
        </div>
        <!--end card content-->
      </div>
      <!-- end column -->

      <!-- start column -->
      <div class="col s12 m6">
        <h3 class="header">Notifications</h3>
        <!--start card-->
        <div class="card m-b-10">
          <!--card content-->
          <div class="card-content">
            <!-- Notification Card -->
            <div id="notification-card" style="height:400px"></div>
          </div>
          <!--end card content-->
        </div>
        <!--end card content-->
      </div>
      <!-- end column -->
    </div>
    <!-- end row -->

    <!-- start row -->
    <div class="row">
      <!-- start column -->
      <div class="col s12">
        <h3 class="header">This Week's Schedule</h3>
        <!--start card-->
        <div class="card">
          <!--card content-->
          <div class="card-content">
            <!-- This weeks schedule display -->
            <div id="current-weeks-schedule">


      <div class="row sched-view">
        <div class="col s12">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">place</i>Sunday</div>
              <div class="collapsible-body shift-sunday">
                {{#each shifts}}
                  {{#isDay dayOfWeek "Sunday"}}
                    {{#if open}}
                    <div class="shift-sunday-open">
                      Open Shift
                      {{>rangeSlider/range-block}}
                    </div>
                    {{/if}}
                    {{#unless open}}
                    <div class="shift-sunday-closed">
                      {{EmployeeTableId}}
                      {{>rangeSlider/range-block}}
                    </div>
                    {{/unless}}
                  {{/isDay}}
                {{/each}}
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">place</i>Monday</div>
              <div class="collapsible-body shift-monday">
                {{#each shifts}}
                  {{#isDay dayOfWeek "Monday"}}
                    {{#if open}}
                      <div class="shift-monday-open">
                        Open Shift
                        {{>rangeSlider/range-block}}
                      </div>
                    {{/if}}
                    {{#unless open}}
                      <div class="shift-monday-closed">
                        {{EmployeeTableId}}
                        {{>rangeSlider/range-block}}
                      </div>
                    {{/unless}}
                  {{/isDay}}
                {{/each}}
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">place</i>Tuesday</div>
              <div class="collapsible-body shift-tuesday">
                {{#each shifts}}
                  {{#isDay dayOfWeek "Tuesday"}}
                    {{#if open}}
                      <div class="shift-tuesday-open">
                        Open Shift
                        {{>rangeSlider/range-block}}
                      </div>
                    {{/if}}
                    {{#unless open}}
                      <div class="shift-tuesday-closed">
                        {{EmployeeTableId}}
                        {{>rangeSlider/range-block}}
                      </div>
                    {{/unless}}
                  {{/isDay}}
                {{/each}}
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">place</i>Wednesday</div>
              <div class="collapsible-body shift-wednesday">
                {{#each shifts}}
                  {{#isDay dayOfWeek "Wednesday"}}
                    {{#if open}}
                      <div class="shift-wednesday-open">
                        Open Shift
                        {{>rangeSlider/range-block}}
                      </div>
                    {{/if}}
                    {{#unless open}}
                      <div class="shift-wednesday-closed">
                        {{this.fistName}}
                        {{>rangeSlider/range-block}}
                      </div>
                    {{/unless}}
                  {{/isDay}}
                {{/each}}
                </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">place</i>Thursday</div>
              <div class="collapsible-body shift-thursday">
                {{#each shifts}}
                  {{#isDay dayOfWeek "Thursday"}}
                    {{#if open}}
                      <div class="shift-thursday-open">
                        Open Shift
                        {{>rangeSlider/range-block}}
                      </div>
                    {{/if}}
                    {{#unless open}}
                      <div class="shift-thursday-closed">
                        {{EmployeeTableId}}
                        {{>rangeSlider/range-block}}
                      </div>
                    {{/unless}}
                  {{/isDay}}
                {{/each}}
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">place</i>Friday</div>
              <div class="collapsible-body shift-friday">
                {{#each shifts}}
                  {{#isDay dayOfWeek "Friday"}}
                    {{#if open}}
                      <div class="shift-friday-open">
                        Open Shift
                        {{>rangeSlider/range-block}}
                      </div>
                    {{/if}}
                    {{#unless open}}
                      <div class="shift-friday-closed">
                        {{EmployeeTableId}}
                        {{>rangeSlider/range-block}}
                      </div>
                    {{/unless}}
                  {{/isDay}}
                {{/each}}
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">place</i>Saturday</div>
              <div class="collapsible-body shift-saturday">
                {{#each shifts}}
                  {{#isDay dayOfWeek "Saturday"}} 
                    {{#if open}}
                      <div class="shift-saturday-open">
                        Open Shift
                        {{>rangeSlider/range-block}}
                      </div>
                    {{/if}}
                    {{#unless open}}
                      <div class="shift-saturday-closed">
                        {{EmployeeTableId}}
                        {{>rangeSlider/range-block}}
                      </div>
                    {{/unless}}
                  {{/isDay}}
                {{/each}}
                </div>
              </li>
            </ul>
          </div>
        </div>

              <div class="extra-controls">
                Placeholder for some buttons to change slider behavior
              </div>
            </div>
          </div>
          <!--end card content-->
        </div>
        <!--end card content-->
      </div>
      <!-- end column -->
    </div>
    <!-- end row -->

  </section>
  <!--end section-->

</main>
<!--End page body-->


<script src="/js/index.js"></script>